/* Universal Selector */
*{
    /* color: red; */
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* Tag Selector / Element Selector */
h1 {
    color: #17ff17;
    text-align: center;
}

/* Attribute Selector */
/* a[title="Google"]{
    color: blue;
    letter-spacing: 10px; */
}
/* ID Selector */
#idone {
    color: brown;
}
/* class selector */
.classone {
    color: brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
}
/* Descendant Selector */
.desc a {
    color: red;
    text-decoration: none;
}
/* Child Selector */
.child > a {
    color: green;
}
/* Pseudo Selector */
/* :link */

a:link{
    color: red;
}
a:hover{
    color: #17ff17;
}
a:active{
    color: blue;
}
a:visited{
    color: black;
}
/* Target */
:target{
    color: red;
    border: 2px solid rgb(0, 0, 0);
}
.border1 {
    border: 10px double red;
}

.border2 {
    border-left: 10px solid blue;
}
.brodersizeone{
    border-style: solid;
    border-width: 1px 5px 10px 15px;
}
.broderstyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}
.margin{
    border: 1px solid black;
    margin: 50px 20px;
}
.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 20px;
}
.inline {
    display: inline-block;
    width: 300px;
    border: 2px solid red;
    text-decoration: none;
}
.block {
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}