/* Universal Selector */
*{
    /* color: red; */
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* Tag Selector / Element Selector */
h1 {
    color: #17ff17;
    text-align: center;
    margin: 50px 50px;
}

/* Attribute Selector */
/* a[title="Google"]{
    color: blue;
    letter-spacing: 10px; */
}
/* ID Selector */
#idone {
    color: brown;
}
/* class selector */
.classone {
    color: brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
}
/* Descendant Selector */
.desc a {
    color: red;
    text-decoration: none;
}
/* Child Selector */
.child > a {
    color: green;
}
/* Pseudo Selector */
/* :link */

a:link{
    color: red;
}
a:hover{
    color: #17ff17;
}
a:active{
    color: blue;
}
a:visited{
    color: black;
}
/* Target */
:target{
    color: red;
    border: 2px solid rgb(0, 0, 0);
}
.border1 {
    border: 10px double red;
}

.border2 {
    border-left: 10px solid blue;
}
.brodersizeone{
    border-style: solid;
    border-width: 1px 5px 10px 15px;
}
.broderstyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}
.margin{
    border: 1px solid black;
    margin: 50px 20px;
}
.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 20px;
}
.inline {
    display: inline-block;
    width: 300px;
    border: 2px solid red;
    text-decoration: none;
}
.block {
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}
.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.float_right img{
    width: 40%;
    float: right;
}
.gridone div,.gridtwo div,.gridthree div,.gridfour div,.gridfive div,.gridsix div{
    padding: 20px;
    color: white;
    text-align: center;
}
.gridone,.gridtwo,.gridthree,.gridfour,.gridfive,.gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridtwo{
    grid-column-gap: 50px;

}
.gridthree{
    grid-row-gap: 30px;

}
.gridfour{
    grid-gap: 50px;
}
.coladd{
    grid-column-start: 1;
    grid-column-end: 4;
}


.rowadd{
    grid-column-start: 2;
    grid-row-start:2 ;
    grid-row-end: 4;
}
.relative-parent{
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}
.relative{
    border:  2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 150px;
}
.Absolute-parent{
    border: 2px solid yellow;
    width: 1000px;
    height: 500px;
    position: relative;
}
.Absolute{
    border: 2px solid black;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 30px;
}

.fixed{
    position: fixed;
    top: 100px;
    right: 100px;
}


.online-font{


    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
      
      
}

@font-face {
    font-family: "my-font";
    src: url(./font/ShadowsIntoLight-Regular.ttf);
}
.offline{
    font-family: "my-font";
}