* {
    margin: 0;
    padding: 0;
}
/* navber */
.navber {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left:10px; */
    align-items: center;
}
.logoandname {
    display: flex;
    align-items: center;
    margin: 10px;

}
.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 27px;
}
.logo-name {
    letter-spacing: 1px;
    margin-left: 0px;
}
.nav-menu ul{
    
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 20px 0 15px;
}
.nav-menu ul li {
    margin: 7px;
    list-style-type: none;
}
.nav-menu ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px 15px 24.5px 15px;
    color: black;
}
/* navber Hover */
.nav-menu ul li a:hover {
    color: #ff6900;
    /* background-color: #ff6900; */
    /* border-radius: 5px; */
    border-bottom: 3px solid #ff6900;
}
.hero-text {
    font-size: 50px;
    margin:0 0px  0 0px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#f5f5f5;
    padding: 60px 0 60px 0;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.about-img {
    width: 90%;
    margin: 50px 80px 50px 50px;
}
.our-about{
    font-size: 1.7em;
}
.Welcome {
    font-size: 2.5em;
    margin: 10px 0 0 0;
}
.muwarda {
    font-size: 1.5em;
}
.about-info {
    margin: 15px;
    font-size: 20px;
}
.hero-info-container {
    margin: 60px 0;
}
.choice-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin: 20px 70px 0 70px;
}
.container {
    background-color: #f5f5f5;
    border-radius: 10px;
}
.container h4 {
    font-weight: bold;
    margin: 20px;
    font-size: 1.1em;
}
.img1 {
    width: 50%;
    margin: 10px;
}
.quality {
    width: 50%;
    margin: 10px 0 0 0 ;
}
.quality1 {
    width: 50%;
    margin: 50px 0 0 0 ;
}
.why {
    margin: 30px 0 20px 70px;
    font-weight: bold;
    font-size: 1.5em;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1e272e;
    margin: 70px 0 0 0;
}

.let1 {
    display: flex;
    flex-direction: column;
    margin: 50px 70px 50px 70px;
    color: white;
}
.let2 {
    display: flex;
    flex-direction: column;
    margin: 50px 290px 50px 90px;
    color: white;
}
.let1 h2 ,.let2 h2{
    margin: 0 0 24px 0;
}
.let2 p a {
    display: block;
    text-decoration: none;
    line-height: 25px;
    color: white;
    font-size: 1.2em;
    margin: 0 0 0 7px;
    transition: all 0.4s ease;
}
.let2 p a:hover{
    transform:translateX(5px);
}
.fa-chevron-right {
    font-size: 13px;
    text-align: center;
    margin: 0 10px 0 0;
}
.right {
    margin: 50px 50px 0 80px;
    color: white;
}
/* .let1 p, .let2 p{
    margin-top: -70px;
} */
.fa-telegram,.fa-instagram,.fa-youtube,.fa-facebook,.fa-x-twitter{
    margin: 24px 5px 35px 5px;
    font-size: 28px;
    color: white;
}
.footer-email {
    margin: 0 0 10px 0;
    
}

.footer-line {
    border: 0.2px solid white;
    margin: 0 70px 0 70px;

}
.footer-end {
    margin: 15px 0 0px 0;
    padding-bottom:10px ;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-end a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 5px 0 5px;
}
.footer-container {
    background-color: #1e272e;
}
@font-face {
    font-family: "1";
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
.font{
    font-family: "1";

}
