* {
    margin: 0;
    padding: 0;
}
/* navber */
.navber {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left:10px; */
    align-items: center;
}
.logoandname {
    display: flex;
    align-items: center;
    margin: 10px;

}
.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 27px;
}
.logo-name {
    letter-spacing: 1px;
    margin-left: 0px;
}
.nav-menu ul{
    
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 20px 0 15px;
}
.nav-menu ul li {
    margin: 7px;
    list-style-type: none;
}
.nav-menu ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px 15px 24.5px 15px;
    color: black;
}
/* navber Hover */
.nav-menu ul li a:hover {
    color: #ff6900;
    /* background-color: #ff6900; */
    /* border-radius: 5px; */
    border-bottom: 3px solid #ff6900;
}
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e8e8e8;
    padding: 60px;
}
.hero-section-text{
    display: grid;
    
    justify-content: start;
}
.hero-arr {
    margin: 5px 10px 5px 10px;

}
.hero-section-img {
    display: grid;
    justify-content: end;
    align-items: center;
}
.hero-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-text{
    font-size: 50px;
    margin:0 30px  0 0px;
    justify-content: center;
    align-items: center;

}
.muwarda {
    margin-top: 0;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}
.hero-text-two {
    margin-left: 15px;
}


/* main */
.product-title {
    font-size: 50px;
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: center;
}
.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 70px 0 70px;
}
.product-container{
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 490px;
}
.product-name{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 0px 0 10px 0;
}
.product-img {
    width: 100%;
    transition: all 0.4s ease;
}
.item-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 28px 0 28px;
}
.price {
    display: block;
    text-align: center;
    font-size: 20px;
}

.btn {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-out;
}
.btn:hover{
    transform: scale(1.1);
}
    
.product-container a {
    text-decoration: none;
}
.fa-cart-shopping {
    padding: 10.7px 30px 10.7px 30px;

}
.view-more {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    align-items: center;


}
.view-more-btn {
    padding: 15px 25px ;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6900;
    color: white;
    transition: all 0.4s ease;
}
.view-more-btn:hover {
    transform: translateY(-7px);
}
.product-img:hover{
    transform: scale(1.07);
}

.Accessories {
    font-size: 45px;
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.accessoties{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 10px 70px 120px 70px;
}
.accessoties-container{
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 400px;
}

.accessoties-name{
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 15px 0px 15px;
}
.accessoties-name {
    /* font-size: 1.5em; */
    margin: 20px 0 0px 0;
}
.accessoties-name1{
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 15px 0px 15px;
}
.accessoties-name1 {
    /* font-size: 1.5em; */
    margin: 23px 0 0px 0;
}
.accessoties-img {
    width: 100%;
    
    transition: all 0.4s ease;

}
.accessoties-img:hover{
    transform: scale(1.1);
}
.btn-Learmmore {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: grid;
    justify-content: center;
}
.btn-Learmmore2 {
    display: grid;
    justify-content: center;
    padding: 5px 60px 5px 60px;
}
.btn-Learmmore9 {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: grid;
    justify-content: center;
}
.accessoties-info {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.accessoties-info1 {
    text-align: center;
    font-size: 16px;
    margin-top: 31px;
}
/* .carousel {
    overflow: hidden;
    width: 700px;
    background-color: #1e272e;
    padding: 30px 0;
}
.img-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-content: stretch;
    animation: animation 12s linear infinite;
}
.img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #f5f5f5;
}
@keyframes animation {

} */
.about-title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 70px 0 10px 0;
}
.about {
    background-image: url('../images/download.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    /* For text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 200px;
}

.product-title2 {
    font-size: 3em;
    color: white;
}
.photography-kit {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: 0 70px 0 70px;
    /* padding: 10px; */
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.accessoties-title{
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    top: 40px;
    text-align: center;
    

    /* display: grid;
    justify-content: center;
    align-items: center;
    text-align: center; */
    
}
.accessoties-title p {
    margin: 40px 100px 0 100px;
    font-size: 20px;
}
.accessoties-name {
    /* font-size: 1.5em; */
    margin: 20px 0 0px 0;
}
.img {
    width: 100%;
}
.btn-Learm-more {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 50px;
}
.btn-Learm-more10 {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 30px;
}
.img {
    width: 100%;
    transition: all 0.4s ease;

}
.img:hover {
    transform: scale(1.1);
}
.btn-Learm-more {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 50px;

}



.about-text {
    margin: 30px 80px 50px 80px;
    font-size: 1.3em;
    color: #ff6900;

}
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input-contact{
    margin-left: 70px;

}
.input-contact label {
    display: block;
    font-weight: bold;
    color: #ff6900;
}
.input-contact input, .input-contact textarea {
    width: 70%;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #1a1814;
    border-radius: 7px;
    color: black;
}
.form-group{
    margin-bottom: 20px;
}
.submit-btn {
    padding: 10px 15px 10px 15px;
    background-color: #ff6900;
    color: white;
    border-radius: 7px;
    transition: all 0.4s ease;
}
.submit-btn:hover {
    transform: scale(1.1);
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1e272e;
    margin: 70px 0 0 0;
}

.let1 {
    display: flex;
    flex-direction: column;
    margin: 50px 70px 50px 70px;
    color: white;
}
.let2 {
    display: flex;
    flex-direction: column;
    margin: 50px 290px 50px 90px;
    color: white;
}
.let1 h2 ,.let2 h2{
    margin: 0 0 24px 0;
}
.let2 p a {
    display: block;
    text-decoration: none;
    line-height: 25px;
    color: white;
    font-size: 1.2em;
    margin: 0 0 0 7px;
    transition: all 0.4s ease;
}
.let2 p a:hover{
    transform:translateX(5px);
}
.fa-chevron-right {
    font-size: 13px;
    text-align: center;
    margin: 0 10px 0 0;
}
.right {
    margin: 50px 50px 0 80px;
    color: white;
}
/* .let1 p, .let2 p{
    margin-top: -70px;
} */
.fa-telegram,.fa-instagram,.fa-youtube,.fa-facebook,.fa-x-twitter{
    margin: 24px 5px 35px 5px;
    font-size: 28px;
    color: white;
}
.footer-email {
    margin: 0 0 10px 0;
    
}

.footer-line {
    border: 0.2px solid white;
    margin: 0 70px 0 70px;

}
.footer-end {
    margin: 15px 0 0px 0;
    padding-bottom:10px ;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-end a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 5px 0 5px;
}
.footer-container {
    background-color: #1e272e;
}
@font-face {
    font-family: font2;
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
.font {
    font-family: font2;
}

