* {
    margin: 0;
    padding: 0;
}
.navber {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left:10px; */
    align-items: center;
}
.logoandname {
    display: flex;
    align-items: center;
    margin: 10px;

}
.logo {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 27px;
}
.logo-name {
    letter-spacing: 1px;
    margin-left: 0px;
}
.nav-menu ul{
    
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 20px 0 15px;
}
.nav-menu ul li {
    margin: 7px;
    list-style-type: none;
}
.nav-menu ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px 15px 24.5px 15px;
    color: black;
}
/* navber Hover */
.nav-menu ul li a:hover {
    color: #ff6900;
    /* background-color: #ff6900; */
    /* border-radius: 5px; */
    border-bottom: 3px solid #ff6900;
}
.hero-text1{
    font-size: 50px;
    margin:0 0px  0 0px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#f5f5f5;
    padding: 60px 0 60px 0;
}
.container {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr;
    margin: 70px;
}
/* .container label {
    display: block;
    margin: 25px 0 0 0;

} */
 .email-address {
    display: block;
    margin: 28px 0 0 0;
 }
 .password {
    display: block;
    margin: 17px 0 0 0;
 }
#email , #password ,#name , #number ,#birthday{
    width: 70%;
    padding: 10px;
    /* background-color: #f5f5f5; */
    border: 1px solid #1a1814;
    border-radius: 7px;
    color: black;
    margin: 20px 0 0 0 ;
}
.email-address,.password{
    color: gray;
    font-weight: bold;
}
.forgetpassword {
    text-decoration: none;
    display: block;
    margin: 7px 0 0 0;
    color: blue;
}
.login-btn {
    text-align: center;
    width: 73%;
    height: 50px;
    border-radius: 7px;
    font-size: 17px;
    margin: 15px 0 0 0;
    background-color: #ff6900;
    color: white;

}
.login h2 {
    display:inline-block;
}
.sign-up {
    margin: 0 0 0 13px ;
}
.sign-up{
    padding-bottom: 5px;
    border-bottom: 3px solid #ff6900;
    color: black;
}
.login1 {
    color: black;
}
.img {
    display: grid;
    justify-content: center;
    width: 90%;
    margin: -25px 0 0 50px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1e272e;
    margin: 70px 0 0 0;
}

.let1 {
    display: flex;
    flex-direction: column;
    margin: 50px 70px 50px 70px;
    color: white;
}
.let2 {
    display: flex;
    flex-direction: column;
    margin: 50px 290px 50px 90px;
    color: white;
}
.let1 h2 ,.let2 h2{
    margin: 0 0 24px 0;
}
.let2 p a {
    display: block;
    text-decoration: none;
    line-height: 25px;
    color: white;
    font-size: 1.2em;
    margin: 0 0 0 7px;
    transition: all 0.4s ease;
}
.let2 p a:hover{
    transform:translateX(5px);
}
.fa-chevron-right {
    font-size: 13px;
    text-align: center;
    margin: 0 10px 0 0;
}
.right {
    margin: 50px 50px 0 80px;
    color: white;
}
/* .let1 p, .let2 p{
    margin-top: -70px;
} */
.fa-telegram,.fa-instagram,.fa-youtube,.fa-facebook,.fa-x-twitter{
    margin: 24px 5px 35px 5px;
    font-size: 28px;
    color: white;
}
.footer-email {
    margin: 0 0 10px 0;
    
}

.footer-line {
    border: 0.2px solid white;
    margin: 0 70px 0 70px;

}
.footer-end {
    margin: 15px 0 0px 0;
    padding-bottom:10px ;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-end a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 5px 0 5px;
}
.footer-container {
    background-color: #1e272e;
}
@font-face {
    font-family: font1;
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
.font {
    font-family: font1;
}