* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1a1814;
    color: #cda45e;
}

/* navber */

.navber {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}
.brand img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 15px;
}
.brand h2 {
    letter-spacing: 3px;
}
.nav-menu ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 10px;
}
.nav-menu ul li {
    list-style-type: none;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #cda45e;
    padding: 15px;
    font-size: 20px;
}
.nav-menu ul li a:hover {
    color: white;
    background-color: #cda45e;
    border-radius:5px ;
}

    /* Hero Image */

.hero-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;


    /* for text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text {
    font-size: 2em;
    font-weight: bold;
}

.hero-text p {
    margin: 20px 0;
}
.hero-text p a {
    text-decoration: none;
    color: white;
}
.btn {
    display: inline-block;
    padding: 20px 30px;
    background-color: #cda45e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}
.signature-img {
    width: 100%;
}
.signature-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menu-title {
    font-size: 3em;
    color: white;
}
.menu-about {
    margin: 30px 0;
    font-size: 1.3em;
}


/* About Kyaw Cafe */

.about {
    background-image: url('../images/home-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;


    /* For text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 200px;
}

/* special Menu */
.special {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 150px 70px;
    column-gap: 50px;
}

.special-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.special-img {
    width: 100%;
}



/* Silone Tea */
.silone-tea {
    background-image: url('../images/silonetea-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;


    /* For text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
}

.silone-tea-img {
    width: 20%;
    margin-bottom: 20px;
}

/* Our Popular menu */
.our-menu-title {
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 100px 0 50px 0;
}

.our-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    margin: 0 70px;
}

.menu-item {
    background-color: #26231d;
    border-radius: 10px;
    overflow: hidden;
}
.item-img {
    width: 100%;
}

.item-content {
    padding: 20px;
    text-align: center;

}

.item-name {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px ;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0;
}



/* Contact Us */
.contact-us h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 100px 0 50px 0;
}

.map {
    margin: 0 70px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 70px;
}

.info {
    display: flex;
    padding: 20px 0;
}
.contact-icon {
    position: relative;
    background-color: #cda45e;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


.form-group{
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    background-color: #1a1814;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}


.footer {
    background-color: black;
    padding: 50px 0;
    text-align: center;

}

.footer-title {
    font-weight: bold;
}


.dev {
    color: #cda45e;
    text-decoration: none;
    font-weight: bold;
}